.history-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 0 auto;
  color: #333;
  font-family: sans-serif;
}

.history-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.history-list {
  list-style-type: none;
  padding: 0;
}

.history-list li {
  background-color: #fff;
  border-left: 5px solid green;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  display: flex;
  align-items: center;
}

.history-list li strong {
  margin-right: 5px;
  color: green;
}
