.timer-category {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.category-header h2 {
  margin: 0;
}

.category-header button {
  margin-left: 5px;
  padding: 4px 8px;
}
.timer-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
