.app-container {
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  width: 100%;
}
h1 {
  text-align: center;
}
.group-controls {
  display: flex;
  gap: 20px;
  margin: 10px auto;
}
nav{
  display: flex;
  margin: 10px auto;
  gap: 10px;
}
nav a,nav a:hover{
  background-color: #000;
  color:#fff;
  padding: 10px;
  border-radius: 10px;
}